name: Ejecutar script Hola Bash

on:
  push:
    branches:
      - main

jobs:
  run_script:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v3

    - name: Dar permisos de ejecución al script
      run: chmod +x src/hola.sh

    - name: Ejecutar script Hola
      run: ./src/hola.sh
